$green: #a6cf39;
$lightgrey: #e6e7e9;
$grey: #736e75;
$darkgrey: #808080;
@import url('https://fonts.googleapis.com/css?family=Lato');
$font: 'Lato', sans-serif;

body {
    font-family: $font;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.row {
    margin: 0;
}
//container-one

.one {
    display: flex;
    flex-direction: row;
    background-color: $lightgrey;
}

.adress {
    margin-top: 0.6em;

    &__table {
        list-style-type: none;
        font-size: 0.8em;
        text-align: right;
        color: $darkgrey;
        border-right: 1.3px solid $darkgrey;
        padding: 2px;
    }

    &__table li {
        padding: 2px;
    }
}

.brand {
    display: flex;
    align-items: center;

    &__logo {
        display: flex;
        align-items: center;
    }
}
//container-two

.menu {
    background: $green;
    color: white;
    max-height: 74px;
}

.navbar {
    min-height: 74px;
    margin: 0;
    padding: 0;

    &-collapse {
        min-height: 74px;
        margin: 0;
        padding: 0;
    }
}

.nav li a {
    min-height: 74px;
    color: white;
    padding: 0.5em;
    font-size: 1em;
    display: flex;
    align-items: center !important;
}

.nav li a:hover {
    background: $darkgrey;
    text-decoration: none;
    color: white;
    min-height: 74px;
}

#top-menu {
    min-height: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 18em;
}

.search {
    background-color: $darkgrey;
    max-height: 74px;

    &__form {
        display: flex;
        text-align: center;
        align-items: center !important;
        min-height: 74px;
    }

    &__form--place {
        background-color: $darkgrey;
        border: none;
        padding: 0;
        margin: 0;
        color: white;
        padding: 0.5em;
        font-size: 1em;
        display: flex;
        align-items: center !important;
        max-width: 65%;
    }
}

input::placeholder {
    color: white;
    font-style: italic;
    font-size: 1em;
}
//container-three

.three {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.subthree {
    position: relative;
}

.carousel {
    border-bottom: 5px solid $darkgrey;
    width: 100%;

    &-item {
        width: 100%;
    }

    &__img {
        width: 100%;
    }
}

.carouseltext {
    min-height: 145px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;

    &__shower {
        background-color: $green;
        border-bottom: 5px solid $darkgrey;
        color: white;
        font-size: 1.7rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    &__shower--text {
        width: 30%;
    }
}
//container-four

.main {
    position: relative;
}

.four {
    margin-top: 1.5em;
    position: relative;
    margin-bottom: 1em;
}

.offer {
    display: flex;
    min-height: 90px;
    font-size: 1.2rem;

    &__colone {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: white;
        background-color: $darkgrey;
        min-height: 90px;
    }

    &__coltwo {
        min-height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background-color: $green;
    }
}

.ghost {
    position: absolute;
    bottom: 0;
    min-height: 90px;

    &__grey {
        background-color: $darkgrey;
        min-height: 90px;
        z-index: -1;
    }
}
//container-five

.card {
    &-title {
        color: $green;
        text-transform: uppercase;
        font-size: 1.3em;
        padding: 8px;
        margin: 5px;
    }

    &-text {
        color: $darkgrey;
    }
}
//footer

.foot {
    background-color: $lightgrey;
    color: black;
    font-size: 0.6em;
    padding: 5px;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 20px;

    &__one {
        p {
            margin: 0;
        }
    }

    &__two {
        text-align: right;

        p {
            margin: 0;
        }
    }
}
//Extra large. Above 75em (1200px)
@media screen and (max-width: 75em) {
    #top-menu {
        margin-left: 0;
    }
}
//Medium devices (tablets, less than 992px)
@media (max-width: 62em) {
    .navbar-collapse {
        z-index: 9999999;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        text-align: left;
        background-color: $grey;
    }

    #top-menu {
        text-align: left;
        justify-content: left;
        margin: 0;
    }

    .carouseltext {
        position: static;
        max-height: 80px;
        font-size: 1em;

        &__shower--text {
            font-size: 0.8em;
            width: 100%;
            text-align: center;
        }
    }

    .ghost {
        display: none;
    }

    .offer {
        min-height: 60px;
        font-size: 0.8rem;

        &__colone {
            justify-content: center;
            min-height: 60px;
        }

        &__coltwo {
            min-height: 60px;
        }
    }
}
//Small devices (landscape phones, less than 768px)
@media (max-width: 48em) {
    .search {
        display: none;
    }

    .adress__table {
        text-align: left;
        border: none;
    }

    .brand {
        justify-content: center;
    }

    .carouseltext__shower--text {
        font-size: 0.6em;
        width: 100%;
    }

    .foot__two {
        text-align: left;
    }

    .circle {
        display: flex;
        color: $grey;
    }
}
//Medium. Above 48em (768px)
@media (min-width: 48em) {
    .circle {
        display: none;
    }
}
//Extra small devices (portrait phones, less than 576px)
@media (max-width: 34em) {
    #top-menu {
        display: flex;
        flex-direction: column;
    }
}
